:root {
    --darkBlue: #0b4f6c;
    --lightBlue: #6689a1;
    --offWhite: #eeeeee;
    --brown: #a44a3f;
    --pink: #f49fbc;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div.menuTop {
    width: 100%;
    height: 64px;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
}

div.leftTopMenu {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.rightTopMenu {
    flex-basis: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button.menuButton {
    height: 64px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    transition: all .2s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

.menuButton.darkBlue {
    background-color: var(--darkBlue);
}

.menuButton:hover {
    background-color: var(--pink);
}

a.menuLink {
    text-decoration: none;
}

.menuLink.rightButton {
    margin-left: auto;
}

button.dropdownButton {
    width: 256px;
    height: 64px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Roboto', sans-serif;
    transition: all .2s ease-in-out;
}

div.dropdown {
    position: relative;
    display: inline-block;
}

div.dropdownContent {
    display: none;
    position: absolute;
    background-color: var(--darkBlue);
    min-width: 256px;
    box-shadow: 5px 10px 8px #222222;
    z-index: 2;
}

.dropdown a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 0px 8px 16px;
    font-size: 16px;
}

.dropdown a:hover {
    transform: scale(1.2);
    transform-origin: left;
    font-weight: bold;
}

.dropdownButton:hover {
    background-color: var(--pink);
}

.dropdown:hover .dropdownButton {
    background-color: var(--pink);
}

.dropdown:hover .dropdownContent {
    display: block;
}

div.banner {
    width: 100%;
    height: 32vw;
    min-height: 256px;
    overflow: hidden;
    position: relative;
    background-color: var(--lightBlue);
}

.banner video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

div.bannerTitleLogoDiv {
    width: 70%;
    max-width: 1080px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.bannerTitleDiv {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

h1.bannerTitle {
    color: white;
    font-size: 88px;
    z-index: 1;
    font-family: 'Playfair Display', serif;
}

h1.bannerSubTitle {
    color: white;
    font-size: 44px;
    margin-top: -44px;
    z-index: 1;
    font-weight: normal;
}

.banner.weekly {
    height: 16vw;
    min-height: 256px;
    overflow: visible;
}

div.bottomMenuTabSpace {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

div.menuTab {
    height: 32px;
    width: 256px;
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

a.tabLink {
    font-size: 16px;
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
    transform-origin: bottom center;
}

.tabLink:hover {
    transform: scale(1.2);
    color: var(--darkBlue);
    font-weight: bold;
}

div.bottomMenu {
    width: 100%;
    background-color: var(--darkBlue);
    position: relative;
    bottom: 0px;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.bottomMenuFlex {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1080px;
}

div.bottomMenuText {
    height: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

div.bottomMenuImage {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
}

img.bottomMenuLogo {
    width: 60%;
}

a.bottomMenuLink {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 18px;
}

.bottomMenuLink:hover {
    font-weight: bold;
}

div.bodyContent {
    width: 70%;
    max-width: 1080px;
    margin: auto;
}

div.bodyHeader {
    width: 100%;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.bodyHeader.subHeader {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.bodyHeader.left {
    text-align: left;
}

.bodyHeader.right {
    text-align: right;
}

.bodyHeader.center {
    text-align: center;
}

div.underline {
    width: 50%;
    height: 4px;
    background-color: var(--pink);
}

.underline.small {
    width: 25%;
}

div.videoDiv {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.videoDiv iframe, .videoDiv object, .videoDiv embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

div.bottomSpace {
    width: 100%;
    height: 128px;
}

.bottomSpace.offWhite {
    background-color: var(--offWhite);
}

div.break64px {
    width: 100%;
    height: 64px;
}

div.break32px {
    width: 100%;
    height: 32px;
}

div.stepsBackground {
    width: 100%;
    background-color: var(--offWhite);
}

div.stepsContent {
    width: 70%;
    max-width: 1080px;
    margin: auto;
}

p.bodyParagraph {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

p.bodySubParagraph {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: gray;
}

a.bodyLink {
    text-decoration: underline;
    color: inherit;
}

ol.bodyNumList {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: gray;
}

ul.bodyBulList {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: gray;
}

div.photoCollage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

div.photoDiv {
    height: 540px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-basis: 48%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: var(--lightBlue);
}

img.collagePhoto {
    height: 100%;
}

div.collageOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--darkBlue);
    opacity: 85%;
    display: none;
    z-index: 1;
}

div.collageTextDiv {
    margin: 50% 10% 0 10%;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.collagePhoto:hover + .collageOverlay {
    display: block;
}

.collageOverlay:hover {
    display: block;
}

h1.moduleTitle {
    color: white;
    opacity: 100%;
    font-size: 150%;
    position: relative;
    bottom: 0px;
}

div.moduleSquare {
    width: 30%;
    margin: 1%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.moduleSquare:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.moduleSquare:hover .collageOverlay {
    display: block;
}

div.moduleGrid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width:1920px){
    .bannerTitle {
        font-size: 4.6vw !important;
    }

    .bannerSubTitle {
        font-size: 2.3vw !important;
        margin-top: -2.3vw !important;
    }
}

@media screen and (max-width:960px){
    .menuButton {
        font-size: 2vw !important;
    }

    .dropdownButton {
        font-size: 2vw !important;
    }

    .bodyHeader {
        font-size: 2vw !important;
    }

    .subHeader {
        font-size: 1.5vw !important;
    }

    .banner video {
        display: none !important;
    }

    .banner {
        overflow: visible !important;
    }
}
